@import "tailwindcss";

@layer base {
    body {
        background-color: white;
        overflow-x: hidden;
        font-family: 'Candal', 'Comic Relief', sans-serif;
    }
}

@layer base {

    h1 {
        font-family: 'Candal';
    }

    p,
    div,
    span,
    h2,
    h3 {
        font-family: 'Comic Relief';
    }
}

.dark{
    background-color: #212121;
    color: white;
   
}

.hide{
    display: none;
}